<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whalegoods.mapper.DeviceMapper">

<update id="updateDeviceStatus"  parameterType="java.util.Map" >
	UPDATE device a 
    SET a.device_status=#{deviceStatus}
    WHERE a.device_id_jp=#{deviceIdJp} AND a.device_id_supp=#{deviceIdSupp}
	</update>

</mapper>
