<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalegoods.mapper.DeviceRoadMapper">
  <resultMap id="BaseResultMap1" type="com.whalegoods.entity.response.ResDeviceGoodsInfo">
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_name_en" jdbcType="VARCHAR" property="goodsNameEn" />
    <result column="ctn" jdbcType="TINYINT" property="ctn" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="goods_detail" jdbcType="VARCHAR" property="goodsDetail" />
    <result column="goods_detail_en" jdbcType="VARCHAR" property="goodsDetailEn" />
    <result column="made_in" jdbcType="VARCHAR" property="madeIn" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
    <result column="path_code" jdbcType="TINYINT" property="pathCode" />
    <result column="floor" jdbcType="TINYINT" property="floor" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="adsMiddleType" jdbcType="TINYINT" property="saleType" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="start_hms" jdbcType="VARCHAR" property="startHms" />
    <result column="end_hms" jdbcType="VARCHAR" property="endHms" />
    <result column="m_sale_price" jdbcType="DECIMAL" property="mSalePrice" />
  </resultMap>
  
   <sql id="Base_Column_List1">
    a.sale_price,
    a.path_code,
    a.floor,
    a.ctn,
    a.stock,
    b.goods_code, 
    b.goods_name, 
    b.goods_name_en,
    b.spec, 
    b.goods_detail,
    b.goods_detail_en,
    b.pic_url,
    b.made_in, 
    b.market_price,
    d.type adsMiddleType,
    d.start_date,
    d.end_date,
    d.start_hms,
    d.end_hms,
    d.sale_price m_sale_price
  </sql>
  
   <sql id="Base_Column_List2">
    a.sale_price,
    a.path_code,
    a.floor,
    a.ctn, 
    a.stock,
    b.goods_code, 
    b.goods_name, 
    b.spec, 
    b.goods_detail,
    b.goods_detail_en, 
    b.pic_url,
    b.made_in, 
    b.market_price,
    d.type adsMiddleType,
    d.start_date,
    d.end_date,
    d.start_hms,
    d.end_hms,
    d.sale_price m_sale_price
  </sql>
  
  <resultMap id="BaseResultMap2" type="com.whalegoods.entity.DeviceRoad">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="device_id_jp" jdbcType="VARCHAR" property="deviceIdJp" /> 	
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="device_id_supp" jdbcType="VARCHAR" property="deviceIdSupp" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="ctn" jdbcType="TINYINT" property="ctn" />
    <result column="floor" jdbcType="TINYINT" property="floor" />
    <result column="path_code" jdbcType="TINYINT" property="pathCode" />
    <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
    <result column="capacity" jdbcType="TINYINT" property="capacity" />
    <result column="stock" jdbcType="TINYINT" property="stock" />
    <result column="warning_num" jdbcType="TINYINT" property="warningNum" />
    <result column="lack_level" jdbcType="TINYINT" property="lackLevel" />
    <result column="lock_status" jdbcType="TINYINT" property="lockStatus" />
  </resultMap>
  
  <sql id="Base_Column_List3">
    c.device_id_jp,
    c.device_id_supp,
    c.short_name,
    b.goods_code,
    b.goods_name,
    a.id,
    a.device_id,
    a.ctn,
    a.floor,
    a.path_code,
    a.sale_price,
    a.capacity,
    a.stock,
    a.warning_num,
    a.lack_level,
    c.lock_status
  </sql>
  
    <sql id="Base_Column_List4">
    c.short_name ,
    a.ctn,
    a.floor,
    a.path_code,
    a.sale_price,
    b.goods_name
  </sql>
  
      <select id="selectById" parameterType="com.whalegoods.entity.DeviceRoad" resultMap="BaseResultMap2">
    SELECT <include refid="Base_Column_List3" />
    FROM device_road a 
    LEFT JOIN goods_sku b ON a.goods_sku_id=b.id
    INNER JOIN device c  ON c.id=a.device_id 
    WHERE a.id=#{id}
  </select>
  
  <select id="selectByMapCdt" parameterType="java.util.Map" resultMap="BaseResultMap2">
    SELECT <include refid="Base_Column_List3" />
    FROM device_road a 
    INNER JOIN goods_sku b ON a.goods_sku_id=b.id
    INNER JOIN device c  ON c.id=a.device_id 
     <where>
     <if test="deviceIdJp !=null and deviceIdJp !=''"> 
     AND c.device_id_jp=#{deviceIdJp}
     </if>
     <if test="deviceIdSupp !=null and deviceIdSupp !=''"> 
     AND c.device_id_supp=#{deviceIdSupp}
     </if>
    </where>
  </select>
  
  <!-- ERP后台导出货道清单专用 -->
      <select id="selectListByDeviceIdForExcel" parameterType="java.lang.String" resultMap="BaseResultMap2">
    SELECT <include refid="Base_Column_List4" />
    FROM device_road a 
    INNER JOIN goods_sku b ON a.goods_sku_id=b.id
    INNER JOIN device c  ON c.id=a.device_id 
    WHERE device_id = #{_parameter}
    ORDER BY a.ctn,a.floor,a.path_code
  </select>
  
    <select id="selectListByObjCdt" parameterType="com.whalegoods.entity.DeviceRoad" resultMap="BaseResultMap2">
    SELECT <include refid="Base_Column_List3" />
    FROM device_road a 
    LEFT JOIN goods_sku b ON a.goods_sku_id=b.id 
    INNER JOIN device c  ON c.id=a.device_id 
   <where>
     <if test="deviceIdJp !=null and deviceIdJp !=''"> 
     AND c.device_id_jp=#{deviceIdJp}
     </if>
     <if test="deviceIdSupp !=null and deviceIdSupp !=''"> 
     AND c.device_id_supp=#{deviceIdSupp}
     </if>
     <if test="deviceId !=null and deviceId !='' "> 
     AND c.id=#{deviceId}
     </if>
     <if test="shortName !=null and shortName !=''"> 
     AND c.short_name LIKE  "%" #{shortName} "%"
     </if>
    </where>
    ORDER BY c.short_name,a.ctn,a.floor,a.path_code
  </select>
  
 <!--  根据设备编号查询所有商品，给柜机API使用 -->
    <select id="selectByIdOfJpAndSupp" parameterType="java.util.Map" resultMap="BaseResultMap1">
    SELECT <include refid="Base_Column_List1" />
    FROM device_road a 
    INNER JOIN goods_sku b ON a.goods_sku_id=b.id
    INNER JOIN device c  ON c.id=a.device_id
    LEFT  JOIN goods_ads_middle d ON d.goods_code = b.goods_code AND d.device_id=c.id
    WHERE c.device_id_jp=#{deviceIdJp} AND c.device_id_supp=#{deviceIdSupp}
  </select>
  
   <!--  根据当前设备商品编号或货道号获取商品信息 -->
    <select id="selectByGoodsOrPathCode" parameterType="java.util.Map" resultMap="BaseResultMap1">
    SELECT  <include refid="Base_Column_List2" /> FROM device_road a 
    INNER JOIN goods_sku b ON a.goods_sku_id=b.id
    INNER JOIN device c  ON c.id=a.device_id 
    LEFT JOIN goods_ads_middle d ON d.goods_code=b.goods_code AND d.device_id=c.id
    <where>
			<if test="deviceIdJp !=null and deviceIdJp !=''">
				AND c.device_id_jp=#{deviceIdJp}
			</if>
			<if test="device_id_supp !=null and device_id_supp !=''">
				AND c.device_id_supp=#{deviceIdSupp}
			</if>
			<if test="goodsCode !=null and goodsCode !=''">
				AND b.goods_code=#{goodsCode}
			</if>
			<if test="pathCode !=null and pathCode !=''">
				AND a.path_code=#{pathCode}
			</if>
			<if test="floor !=null and floor !=''">
				AND a.floor=#{floor}
			</if>
		    <if test="ctn !=null and ctn !=''">
				AND a.ctn=#{ctn}
			</if>
		 </where>
  </select>
  
  <insert id="insert" parameterType="com.whalegoods.entity.DeviceRoad">
    INSERT INTO device_road (
    id,
    device_id, 
    ctn, 
    path_code, 
    floor, 
    goods_sku_id, 
    sale_price,
    capacity,
    stock,
    warning_num,
    create_by,
    create_date,
    update_by,
    update_date)
    VALUES (
    #{id},
    #{deviceId}, 
    #{ctn}, 
    #{pathCode},
    #{floor}, 
    #{goodsSkuId},
    #{salePrice},
    #{capacity},
    #{stock},
    #{warningNum},
    #{createBy}, 
    now(),
    #{updateBy},
    now()
    )
  </insert>
  
  <insert id="insertBatch" parameterType="java.util.List">
   INSERT INTO device_road (
    id,
    device_id, 
    ctn, 
    path_code, 
    floor, 
    capacity,
    stock,
    warning_num,
    create_by,
    create_date,
    update_by,
    update_date)
    VALUES
    <foreach collection="list" item="item" index="index"  separator=",">
  (
   #{item.id},
      #{item.deviceId},
      #{item.ctn},
      #{item.pathCode},
      #{item.floor},
     #{item.capacity},
     #{item.stock},
     #{item.warningNum},
     #{item.createBy},
     now(),
     #{item.updateBy},
     now()
  )
    </foreach>
 </insert>
	
	  	<!-- 根据条件更新货道信息 -->
		<update id="updateByObjCdt" parameterType="com.whalegoods.entity.DeviceRoad">
		UPDATE device_road a INNER JOIN device b ON a.device_id=b.id
		LEFT JOIN goods_sku c ON  c.id=a.goods_sku_id
	   <set>
      <if test="stock != null and stock != ''">a.stock=a.stock+#{stock},</if>
      <if test="stockOrderId != null and stockOrderId != '' and stock!=0">a.stock_order_id=#{stockOrderId},</if>
      <if test="ctn != null ">a.ctn=#{ctn},</if>
      <if test="floor != null ">a.floor=#{floor},</if>
      <if test="pathCode != null ">a.path_code=#{pathCode},</if>
      <if test="goodsSkuId != null and goodsSkuId !='' ">a.goods_sku_id=#{goodsSkuId},</if>
      <if test="salePrice != null ">a.sale_price=#{salePrice},</if>
      <if test="capacity != null ">a.capacity=#{capacity},</if>
      <if test="warningNum != null ">a.warning_num=#{warningNum},</if>
      a.update_date=now(),
      </set>
    		<where>
    		<if test="id !=null and id !=''">
				AND a.id=#{id}
			</if>
    		<if test="deviceIdJp !=null and deviceIdJp !=''">
				AND b.device_id_jp=#{deviceIdJp}
			</if>
			<if test="deviceIdSupp !=null and deviceIdSupp !=''">
				AND b.device_id_supp=#{deviceIdSupp}
			</if>
		    <if test="pathCode !=null and pathCode !=''">
				AND a.path_code=#{pathCode}
			</if>
			<if test="floor !=null and floor !=''">
				AND a.floor=#{floor}
			</if>
			<if test="ctn !=null and ctn !=''">
				AND a.ctn=#{ctn}
			</if>
			<!-- 如果是下单减库存 -->
			<if test="stockOrderId !=null and stockOrderId !='' and stock==-1">
				AND (a.stock_order_id='' OR a.stock_order_id!=#{stockOrderId})
			</if>
			<!-- 如果是退款加库存 -->
			<if test="stockOrderId !=null and stockOrderId !='' and stock==1">
				AND a.stock_order_id=#{stockOrderId}
			</if>
		 </where>
	</update>
	
		  	<!-- 根据条件更新货道信息 -->
		<update id="updateByObjCdtForErp" parameterType="com.whalegoods.entity.DeviceRoad">
		UPDATE device_road a INNER JOIN device b ON a.device_id=b.id
		LEFT JOIN goods_sku c ON  c.id=a.goods_sku_id
	   <set>
      <if test="stock != null and stock != ''">a.stock=a.stock+#{stock},</if>
      <if test="stockOrderId != null and stockOrderId != '' and stock!=0">a.stock_order_id=#{stockOrderId},</if>
      <if test="ctn != null ">a.ctn=#{ctn},</if>
      <if test="floor != null ">a.floor=#{floor},</if>
      <if test="pathCode != null ">a.path_code=#{pathCode},</if>
      <if test="goodsSkuId != null and goodsSkuId !='' ">a.goods_sku_id=#{goodsSkuId},</if>
      <if test="salePrice != null ">a.sale_price=#{salePrice},</if>
      <if test="capacity != null ">a.capacity=#{capacity},</if>
      <if test="warningNum != null ">a.warning_num=#{warningNum},</if>
      a.update_date=now(),
      </set>
    		<where>
    		<if test="id !=null and id !=''">
				AND a.id=#{id}
			</if>
			<if test="deviceId !=null and deviceId !=''">
				AND a.device_id=#{deviceId}
			</if>
			 <if test="goodsSkuId !=null and goodsSkuId !=''">
				AND a.goods_sku_id=#{goodsSkuId}
			</if>
		 </where>
	</update>
	
	<select id="selectCountByMapCdt" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM device_road c
    INNER JOIN device b ON c.device_id=b.id
   <where>
     <if test="deviceId !=null and deviceId !=''"> 
     AND c.device_id=#{deviceId}
     </if>
     <if test="ctn !=null and ctn !=''"> 
     AND c.ctn=#{ctn}
     </if>
     <if test="floor !=null and floor !=''"> 
     AND c.floor = #{floor} 
     </if>
     <if test="pathCode !=null and pathCode !=''"> 
     AND c.path_code = #{pathCode} 
     </if>
    </where>
  </select>
  
     <delete id="deleteById" parameterType="java.lang.String">
    DELETE FROM device_road  WHERE id = #{_parameter}
  </delete>
  
  <delete id="deleteByDeviceId" parameterType="java.lang.String">
    DELETE FROM device_road  WHERE device_id = #{_parameter}
  </delete>
 

</mapper>