<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalegoods.mapper.GoodsStorageOutMapper">
  <resultMap id="BaseResultMap" type="com.whalegoods.entity.GoodsStorageOut">
  <id column="id" jdbcType="VARCHAR" property="id" />
  <result column="goods_sku_id" jdbcType="VARCHAR" property="goodsSkuId" />
  <result column="goods_storage_in_id" jdbcType="VARCHAR" property="goodsStorageInId" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="apply_num" jdbcType="INTEGER" property="applyNum" />
    <result column="apply_by" jdbcType="VARCHAR" property="applyBy" />
    <result column="username" jdbcType="VARCHAR" property="userName" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="apply_date" jdbcType="DATE" property="applyDate" />
    <result column="goodsStorageInName" jdbcType="VARCHAR" property="goodsStorageInName" />
    <result column="goodsStorageOutName" jdbcType="VARCHAR" property="goodsStorageOutName" />
  </resultMap>
  
   <sql id="Base_Column_List">
  a.id,
  a.apply_date,
  a.goods_storage_in_id,
  a.apply_num,
  a.apply_by,
  d.username,
  c.short_name,
  b.goods_name,
  b.goods_code,
  CONCAT(DATE_FORMAT(e.in_date, '%Y-%m-%d'),'入库',DATE_FORMAT(e.expiring_date, '%Y-%m-%d'),'到期',e.cost_price,'元成本价') goodsStorageInName
  </sql>
  
  <sql id="Base_Column_List2">
  a.apply_num,
  a.goods_storage_in_id
  </sql>
  
  <sql id="Base_Column_List3">
  a.id,
  CONCAT(DATE_FORMAT(a.apply_date, '%Y-%m-%d'),'出库') goodsStorageOutName
  </sql>
  
  <select id="selectById" parameterType="com.whalegoods.entity.GoodsStorageOut" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List2" />
    FROM goods_storage_out a   
    INNER JOIN goods_sku b ON a.goods_sku_id = b.id 
    WHERE a.id=#{id}
  </select>
  
    <select id="selectListByObjCdt" parameterType="com.whalegoods.entity.GoodsStorageOut" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
   FROM goods_storage_out a 
    INNER JOIN goods_sku b ON a.goods_sku_id = b.id 
    INNER JOIN device c ON c.id = a.device_id 
    INNER JOIN sys_user d ON d.id=a.apply_by
    INNER JOIN goods_storage_in e ON e.id=a.goods_storage_in_id 
   <where>
     <if test="goodsSkuId !=null and goodsSkuId !=''"> 
     AND b.id=#{goodsSkuId}
     </if>
     <if test="deviceId !=null and deviceId !=''">
     AND c.id=#{deviceId}
     </if>
     <if test="startApplyDate !=null "> AND a.apply_date &gt;=#{startApplyDate}</if>
     <if test="endApplyDate !=null "> AND a.apply_date &lt;#{endApplyDate}</if>
    </where>
    ORDER BY a.apply_date DESC
  </select>
  
      <select id="selectListByObjCdtForSetDeviceRoad" parameterType="com.whalegoods.entity.GoodsStorageOut" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List3" />
   FROM goods_storage_out a 
    INNER JOIN goods_sku b ON a.goods_sku_id = b.id 
    INNER JOIN device c ON c.id = a.device_id 
    INNER JOIN goods_storage_in e ON e.id=a.goods_storage_in_id 
   <where>
     <if test="goodsCode !=null and goodsCode !=''"> 
     AND b.goods_code=#{goodsCode}
     </if>
     <if test="deviceId !=null and deviceId !=''">
     AND c.id=#{deviceId}
     </if>
    </where>
    ORDER BY a.apply_date DESC
  </select>
  
  <insert id="insert" parameterType="com.whalegoods.entity.GoodsStorageOut">
    INSERT INTO goods_storage_out (
    id,
    goods_sku_id, 
    goods_storage_in_id, 
    apply_num, 
    apply_by, 
    device_id, 
    apply_date,
    create_by,
    create_date,
    update_by,
    update_date)
    VALUES (
    #{id},
    #{goodsSkuId}, 
    #{goodsStorageInId}, 
    #{applyNum},
    #{applyBy}, 
    #{deviceId},
    #{applyDate},
    #{createBy}, 
    now(),
    #{updateBy},
    now()
    )
  </insert>
  
     <delete id="deleteById" parameterType="java.lang.String">
    DELETE FROM goods_storage_out  WHERE id = #{_parameter}
  </delete>

</mapper>