<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalegoods.mapper.GoodsStorageRtwMapper">
  <resultMap id="BaseResultMap" type="com.whalegoods.entity.GoodsStorageRtw">
  <id column="id" jdbcType="VARCHAR" property="id" />
  <result column="rtw_day" jdbcType="DATE" property="rtwDay" />
  <result column="rtw_num" jdbcType="INTEGER" property="rtwNum" />
  <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_storage_in_id" jdbcType="VARCHAR" property="goodsStorageInId" />
    <result column="goodsStorageInName" jdbcType="VARCHAR" property="goodsStorageInName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
   <sql id="Base_Column_List">
a.id,
a.rtw_day,
d.short_name,
b.goods_name,
b.goods_code,
a.rtw_num,
a.goods_storage_in_id,
CONCAT(DATE_FORMAT(c.in_date, '%Y-%m-%d'),'入库',DATE_FORMAT(c.expiring_date, '%Y-%m-%d'),'到期',c.cost_price,'元成本价') goodsStorageInName,
a.remark
  </sql>
  
        <select id="selectById" parameterType="com.whalegoods.entity.GoodsStorageRtw" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM goods_storage_rtw a   
    INNER JOIN goods_sku b ON a.goods_sku_id = b.id 
    INNER JOIN goods_storage_in c ON c.id=a.goods_storage_in_id
    INNER JOIN device d ON d.id=a.device_idd
    WHERE a.id=#{id}
  </select>
  
    <select id="selectListByObjCdt" parameterType="com.whalegoods.entity.GoodsStorageRtw" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM goods_storage_rtw a   
    INNER JOIN goods_sku b ON a.goods_sku_id = b.id 
    INNER JOIN goods_storage_in c ON c.id=a.goods_storage_in_id
    INNER JOIN device d ON d.id=a.device_id
   <where>
     <if test="goodsSkuId !=null and goodsSkuId !=''">
     AND a.goods_sku_id=#{goodsSkuId}
     </if>
    </where>
    ORDER BY a.rtw_day DESC 
  </select>
  
    <insert id="insert" parameterType="com.whalegoods.entity.GoodsStorageRtw">
    INSERT INTO goods_storage_rtw (
    id,
    rtw_day,
    rtw_num,
    device_id,
    goods_sku_id, 
    goods_storage_in_id, 
    create_by,
    create_date,
    update_by,
    update_date,
    remark)
    VALUES (
    #{id},
    #{rtwDay},
    #{rtwNum}, 
    #{deviceId},
    #{goodsSkuId}, 
    #{goodsStorageInId},
    #{createBy}, 
    now(),
    #{updateBy},
    now(),
    #{remark}
    )
  </insert>
  
     <delete id="deleteById" parameterType="java.lang.String">
    DELETE FROM goods_storage_rtw  WHERE id = #{_parameter}
  </delete>

</mapper>