<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalegoods.mapper.GoodsSkuMapper">
  <resultMap id="BaseResultMap" type="com.whalegoods.entity.GoodsSku">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_name_en" jdbcType="TINYINT" property="goodsNameEn" />
    <result column="spec" jdbcType="TINYINT" property="spec" />
    <result column="box_num" jdbcType="TINYINT" property="boxNum" />
    <result column="one_cost" jdbcType="VARCHAR" property="oneCost" />
    <result column="box_cost" jdbcType="DECIMAL" property="boxCost" />
    <result column="market_price" jdbcType="TINYINT" property="marketPrice" />
    <result column="profit" jdbcType="TINYINT" property="profit" />
    <result column="pic_url" jdbcType="TINYINT" property="picUrl" />
    <result column="supp_name" jdbcType="TINYINT" property="suppName" />
    <result column="class_name" jdbcType="TINYINT" property="className" />
    <result column="product_date" jdbcType="VARCHAR" property="productDate" />
    <result column="shelf_life" jdbcType="TINYINT" property="shelfLife" />
    <result column="made_in" jdbcType="TINYINT" property="madeIn" />
    <result column="goods_detail" jdbcType="TINYINT" property="goodsDetail" />
    <result column="goods_detail_en" jdbcType="TINYINT" property="goodsDetailEn" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, 
    goods_code, 
    goods_name, 
    goods_name_en, 
    spec, 
    box_num, 
    one_cost, 
    box_cost,
    market_price,
    profit,
    pic_url,
    supp_name,
    class_name,
    product_date,
    shelf_life,
    made_in,
    goods_detail,
    goods_detail_en,
    create_by, 
    create_date, 
    update_by, 
    update_date, 
    remark
  </sql>
  
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" />  FROM goods_sku WHERE id = #{_parameter}
  </select>
  
  <select id="checkGoodsCode" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT  COUNT(id)  FROM goods_sku WHERE goods_code = #{_parameter}
  </select>
  
  <!-- 查询全部的商品列表 -->
  <select id="selectListByObjCdt" parameterType="com.whalegoods.entity.GoodsSku" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM goods_sku
   <where>
     <if test="goodsCode !=null and goodsCode !=''"> AND goods_code LIKE "%" #{goodsCode} "%"</if>
     <if test="goodsName !=null and goodsName !=''"> AND goods_name LIKE "%" #{goodsName} "%"</if>
    </where>
    ORDER BY create_date DESC
  </select>
  
  <select id="selectByMapCdt" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM goods_sku
   <where>
     <if test="goodsCode !=null and goodsCode !=''"> AND goods_code=#{goodsCode}</if>
    </where>
  </select>
  
    <insert id="insert" parameterType="com.whalegoods.entity.GoodsSku">
    INSERT INTO goods_sku (
    id,
    goods_code, 
    goods_name, 
    goods_name_en, 
    spec,
    box_num,
    one_cost,
    box_cost,
    market_price,
    profit,
    pic_url,
    supp_name,
    class_name,
    product_date,
    shelf_life,
    made_in,
    goods_detail,
    goods_detail_en,
    create_by,
    create_date,
    update_by,
    update_date,
    remark
    )
    VALUES (
    #{id},
    #{goodsCode}, 
    #{goodsName}, 
    #{goodsNameEn}, 
    #{spec},
    #{boxNum},
    #{oneCost},
    #{boxCost},
    #{marketPrice},
    #{profit},
    #{picUrl},
    #{suppName},
    #{className},
    #{productDate},
    #{shelfLife},
    #{madeIn},
    #{goodsDetail},
    #{goodsDetailEn},
    #{createBy}, 
    now(),
    #{updateBy},
    now(),
    #{remark}
    )
  </insert>
  
    <update id="updateByObjCdt" parameterType="com.whalegoods.entity.GoodsSku">
    UPDATE goods_sku
    <set>
      <if test="goodsCode != null and goodsCode!='' ">
        goods_code = #{goodsCode},
      </if>
      <if test="goodsName != null and goodsName !='' ">
        goods_name = #{goodsName},
      </if>
      <if test="goodsNameEn != null and goodsNameEn != '' ">
        goods_name_en = #{goodsNameEn},
      </if>
      <if test="spec != null and spec != '' ">
        spec = #{spec},
      </if>
      <if test="boxNum != null and boxNum != '' ">
        box_num = #{boxNum},
      </if>
      <if test="oneCost != null and oneCost != '' ">
        one_cost = #{oneCost},
      </if>
      <if test="boxCost != null and boxCost != '' ">
        box_cost = #{boxCost},
      </if>
      <if test="marketPrice != null and marketPrice != '' ">
        market_price = #{marketPrice},
      </if>
      <if test="profit != null and profit != '' ">
        profit = #{profit},
      </if>
      <if test="picUrl != null and picUrl != '' ">
        pic_url = #{picUrl},
      </if>
      <if test="suppName != null and suppName != '' ">
        supp_name = #{suppName},
      </if>
      <if test="className != null and className != '' ">
        class_name = #{className},
      </if>
      <if test="productDate != null ">
        product_date = #{productDate},
      </if>
      <if test="shelfLife != null and shelfLife != '' ">
        shelf_life = #{shelfLife},
      </if>
      <if test="madeIn != null and madeIn != '' ">
        made_in = #{madeIn},
      </if>
      <if test="goodsDetail != null and goodsDetail != '' ">
        goods_detail = #{goodsDetail},
      </if>
      <if test="goodsDetailEn != null and goodsDetailEn != '' ">
        goods_detail_en = #{goodsDetailEn},
      </if>
      <if test="updateBy != null and updateBy != '' ">
        update_by = #{updateBy},
      </if>
      update_date = now(),
    </set>
    WHERE id = #{id}
  </update>
  
  <delete id="deleteById" parameterType="java.lang.String">
    DELETE FROM goods_sku  WHERE id = #{_parameter}
  </delete>

</mapper>