<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whalegoods.mapper.OrderListMapper">

   <!--  根据订单号查询未支付预支付订单信息 -->
    <select id="selectByCondition" parameterType="java.util.Map" resultType="com.whalegoods.entity.OrderList">
    SELECT a.goods_name goodsName,a.sale_price salePrice,a.pay_type payType,a.order_id orderId
    FROM order_list a 
    		<where>
		    <if test="orderStatus !=null and orderStatus !=''">
				AND a.order_status=#{orderStatus}
			</if>
			<if test="order !=null and order !=''">
				AND a.order_id=#{order} 
			</if>
		 </where>
  </select>
  
  	<!-- 插入预支付订单信息 -->
	<insert id="insertOrderList" parameterType="com.whalegoods.entity.OrderList">
		INSERT INTO order_list (
			id,
			device_id_jp,
			device_id_supp,
			goods_code,
			order_id,
			order_time,
			order_status,
			goods_name,
			sale_price,
			ctn,
			path_code,
			floor,
			create_date,
			update_date
			) 
			VALUES
			(
				#{id},
				#{deviceIdJp},
				#{deviceIdSupp},
				#{goodsCode},
				#{orderId},
				#{orderTime},
				#{orderStatus},
				#{goodsName},
				#{salePrice},
				#{ctn},
				#{pathCode},
				#{floor},
				now(),
				now()
			)
	</insert>
	
		<!-- 根据条件更新信息 -->
		<update id="updateOrderList" parameterType="com.whalegoods.entity.OrderList">
		UPDATE order_list a 
	   <set>
      <if test="wxPrepayId != null and wxPrepayId != ''">a.wx_prepay_id=#{wxPrepayId},</if>
      <if test="orderStatus != null and orderStatus != ''">a.order_status=#{orderStatus},</if>
      <if test="payType != null and payType != ''">a.pay_type=#{payType},</if>
      <if test="payTime != null and payTime != ''">a.pay_time=#{payTime},</if>
      <if test="wxOpenId != null and wxOpenId != ''">a.wx_open_id=#{wxOpenId},</if>
      <if test="buyerUserId != null and buyerUserId != ''">a.buyer_user_id=#{buyerUserId},</if>
      </set>
		WHERE  a.order_id=#{orderId}
	</update>
  
</mapper>