<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whalegoods.mapper.OrderListMapper">
 
   <!--  根据订单号查询未支付预支付订单信息 -->
    <select id="selectByOrderIdAndStatus" parameterType="java.util.Map" resultMap="com.whalegoods.entity.OrderList">
    SELECT a.goods_name goodsName,a.sale_price salePrice,a.pay_type payType 
    FROM order_list a 
    		<where>
		    <if test="orderStatus !=null and orderStatus !=''">
				AND a.order_status=#{orderStatus}
			</if>
			<if test="order !=null and order !=''">
				AND a.order_id=#{order} 
			</if>
		 </where>
  </select>
  
  	<!-- 插入预支付订单信息 -->
	<insert id="insert" parameterType="com.whalegoods.entity.OrderList">
		INSERT INTO order_list (
			id,
			device_id_jp,
			device_id_supp,
			goods_code,
			order_id,
			order_time,
			order_status,
			goods_name,
			sale_price,
			ctn,
			path_code,
			floor,
			create_date,
			update_date
			) 
			VALUES
			(
				#{id},
				#{deviceIdJp},
				#{deviceIdSupp},
				#{goodsCode},
				#{orderId},
				#{orderTime},
				#{orderStatus},
				#{goodsName},
				#{salePrice},
				#{ctn},
				#{pathCode},
				#{floor},
				now(),
				now()
			)
	</insert>
	
	<!-- 根据订单号更新订单信息 -->
		<update id="updateByOrderId" parameterType="java.util.Map">
		UPDATE order_list a set a.open_id=#{openId} ,a.pay_time=#{payTime},a.order_status=#{orderStatus}
		WHERE  a.order_id=#{orderId}
	</update>
	
		<!-- 根据订单号等信息更新预支付单号和支付方式 -->
		<update id="updatePrepayidAndPayType" parameterType="com.whalegoods.entity.OrderList">
		UPDATE order_list a 
	   <set>
      <if test="wxPrepayId != null and wxPrepayId != ''">a.wx_prepay_id=#{wxPrepayId},</if>
      <if test="payType != null and payType != ''">a.pay_type=#{payType},</if>
      </set>
		WHERE  a.order_id=#{orderId}
	</update>
  
</mapper>