<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whalegoods.mapper.OrderListMapper">

  <resultMap id="BaseResultMap" type="com.whalegoods.entity.ErpOrderList">
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
    <result column="pay_type" jdbcType="TINYINT" property="payType" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
  </resultMap>
  
    <resultMap id="BaseResultMap2" type="com.whalegoods.entity.ReportBase">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_day" jdbcType="DATE" property="orderDay" />
    <result column="sales_count" jdbcType="INTEGER" property="salesCount" />
    <result column="sales_amount" jdbcType="DECIMAL" property="salesAmount" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
  </resultMap>
  
  <sql id="Base_Column_List">
    a.order_time,
    b.short_name,
    a.order_id,
    a.order_status,
    a.goods_name,
    a.sale_price,
    a.pay_type,
    a.order_type
  </sql>
  
      <select id="selectDeviceByOrderId" statementType="STATEMENT" resultType="java.lang.String">
   SELECT b.short_name FROM ${prefix}_order_list a 
   INNER JOIN device b ON a.device_id_jp= b.device_id_jp
   <where>
     <if test="orderId !=null and orderId !=''"> AND a.order_id= '${orderId}'</if>
    </where>
  </select>
  
    <select id="selectListByObjCdt"  parameterType="com.whalegoods.entity.ErpOrderList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>  FROM #{prefix}_order_list a 
    INNER JOIN device b ON a.device_id_jp= b.device_id_jp
   <where>
     <if test="startOrderTime !=null "> AND order_time &gt;=#{startOrderTime}</if>
     <if test="endOrderTime !=null "> AND order_time &lt;#{endOrderTime}</if>
     <if test="orderId !=null and orderId !=''"> AND a.order_id LIKE "%" #{orderId} "%"</if>
     <if test="deviceId !=null and deviceId !='' "> AND b.id =#{deviceId}</if>
     <if test="deviceIdJp !=null and deviceIdJp !=''"> AND a.device_id_jp =#{deviceIdJp}</if>
     <if test="orderStatus !=null and orderStatus !=''"> AND a.order_status =#{orderStatus}</if>
     <if test="orderType !=null and orderType !=''"> AND a.order_type =#{orderType}</if>
     <if test="createBy !=null and createBy !=''"> AND a.create_by =#{createBy}</if>
    </where>
    ORDER BY a.order_time DESC
  </select>
  
      <select id="selectReportBaseList"  parameterType="java.util.Map" resultMap="BaseResultMap2">
  SELECT  REPLACE(UUID(), '-', '') id,
  DATE_FORMAT(a.order_time, '%Y-%m-%d') order_day,
  COUNT(a.id) sales_count,
  SUM(a.sale_price) sales_amount,
  a.goods_code,
  c.id device_id 
  FROM #{prefix}_order_list a  
  INNER JOIN goods_sku b ON b.goods_code = a.goods_code 
  INNER JOIN device c ON c.device_id_jp = a.device_id_jp 
   <where>
     <if test="startOrderTime !=null "> AND a.order_time &gt;=#{startOrderTime}</if>
     <if test="endOrderTime !=null "> AND a.order_time &lt;=#{endOrderTime}</if>
     AND a.order_status=2 
    </where>
    GROUP BY a.goods_code,
  a.device_id_jp,
  order_day 
  </select>
  
      <select id="getCountByErpObjCdt"  parameterType="com.whalegoods.entity.ErpOrderList" resultType="java.lang.Integer">
    SELECT COUNT(*)  FROM #{prefix}_order_list a 
    INNER JOIN device b ON a.device_id_jp= b.device_id_jp
   <where>
     <if test="shortName !=null and shortName !=''"> AND short_name LIKE "%" #{shortName} "%"</if>
     <if test="startOrderTime !=null "> AND order_time &gt;=#{startOrderTime}</if>
     <if test="endOrderTime !=null "> AND order_time &lt;#{endOrderTime}</if>
     <if test="deviceId !=null and deviceId !='' "> AND b.id =#{deviceId}</if>
     <if test="deviceIdJp !=null and deviceIdJp !=''"> AND a.device_id_jp =#{deviceIdJp}</if>
     <if test="orderType !=null and orderType !=''"> AND a.order_type =#{orderType}</if>
     <if test="createBy !=null and createBy !=''"> AND a.create_by =#{createBy}</if>
    </where>    
  </select>

   <!--  根据条件查询订单信息 -->
    <select id="selectByMapCdt" statementType="STATEMENT" resultType="com.whalegoods.entity.OrderList">
    SELECT 
    a.goods_name goodsName,
    a.sale_price salePrice,
    a.pay_type payType,
    a.order_id orderId,
    a.device_id_jp deviceIdJp,
    a.device_id_supp deviceIdSupp,
    a.ctn,
    a.floor,
    a.order_type orderType,
    a.path_code pathCode
    FROM ${prefix}_order_list a 
    		<where>
		    <if test="orderStatus !=null and orderStatus !=''">
				AND a.order_status=${orderStatus}
			</if>
			<if test="order !=null and order !=''">
				AND a.order_id='${order}'
			</if>
		 </where>
		 FOR UPDATE
  </select>
  
  	<!-- 生成预支付订单信息 -->
	<insert id="insert" parameterType="com.whalegoods.entity.OrderList" statementType="STATEMENT">
		INSERT INTO ${prefix}_order_list (
			id,
			device_id_jp,
			device_id_supp,
			goods_code,
			order_id,
			order_time,
			order_status,
			goods_name,
			sale_price,
			ctn,
			path_code,
			floor,
			order_type,
			create_by,
			create_date,
			update_by,
			update_date
			) 
			VALUES
			(
				'${id}',
				'${deviceIdJp}',
				'${deviceIdSupp}',
				'${goodsCode}',
				'${orderId}',
				'${orderTime}',
				${orderStatus},
				'${goodsName}',
				${salePrice},
				${ctn},
				${pathCode},
				${floor},
				${orderType},
			    '${createBy}',
				now(),
				'${updateBy}',
				now()
			)
	</insert>
	
		<!-- 根据条件更新订单信息 -->
		<update id="updateByObjCdt" parameterType="com.whalegoods.entity.OrderList" statementType="STATEMENT">
		UPDATE ${prefix}_order_list a 
	   <set>
      <if test="wxPrepayId != null and wxPrepayId != ''">a.wx_prepay_id='${wxPrepayId}',</if>
      <if test="buyerUserId != null and buyerUserId != ''">a.buyer_user_id='${buyerUserId}',</if>
      <if test="orderStatus != null and orderStatus != ''">a.order_status=${orderStatus},</if>
      <if test="payType != null and payType != ''">a.pay_type=${payType},</if>
      <if test="payTime != null and payTime != ''">a.pay_time='${payTime}',</if>
      <if test="wxOpenId != null and wxOpenId != ''">a.wx_open_id='${wxOpenId}',</if>
      </set>
		WHERE  a.order_id='${orderId}'
	</update>
  
  
  <update id="updateBatch" parameterType="java.util.List">
   <foreach collection="list" item="item" index="index" 
        separator=" " open="case ID" close="end">
        UPDATE ${item.prefix}_order_list a 
    </foreach>
    
    SET  a.order_status=
    <foreach collection="list" item="item" index="index" 
        separator=" " open="case ID" close="end">
        WHEN ${item.orderId} THEN ${item.orderStatus}
    </foreach>
    WHERE order_id IN
    <foreach collection="list" index="index" item="item" 
        separator="," open="(" close=")">
        ${item.orderId}
    </foreach>
 </update>
</mapper>