<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whalegoods.mapper.ReportBaseMapper">

    <resultMap id="BaseResultMap" type="com.whalegoods.entity.ReportByDevice">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_day" jdbcType="DATE" property="orderDay" />
    <result column="sales_count" jdbcType="INTEGER" property="salesCount" />
    <result column="sales_amount" jdbcType="DECIMAL" property="salesAmount" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
  </resultMap>
  
      <resultMap id="BaseResultMap2" type="com.whalegoods.entity.ReportBase">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_day" jdbcType="DATE" property="orderDay" />
    <result column="sales_count" jdbcType="INTEGER" property="salesCount" />
    <result column="sales_amount" jdbcType="DECIMAL" property="salesAmount" />
    <result column="costs_amount" jdbcType="DECIMAL" property="costsAmount" />
    <result column="profit" jdbcType="DECIMAL" property="profit" />
    <result column="costProfit" jdbcType="VARCHAR" property="costProfit" />
    <result column="salesProfit" jdbcType="VARCHAR" property="salesProfit" />
    <result column="averageSalePrice" jdbcType="DECIMAL" property="averageSalePrice" />
    <result column="averageCostPrice" jdbcType="DECIMAL" property="averageCostPrice" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="device_id_jp" jdbcType="VARCHAR" property="deviceCodeWg" />
    <result column="device_id_supp" jdbcType="VARCHAR" property="deviceCodeSup" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
  </resultMap>
  
   <resultMap id="BaseResultMap3" type="com.whalegoods.entity.ReportByGoods">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_day" jdbcType="DATE" property="orderDay" />
    <result column="sales_count" jdbcType="INTEGER" property="salesCount" />
    <result column="sales_amount" jdbcType="DECIMAL" property="salesAmount" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
  </resultMap>
  
   <resultMap id="BaseResultMap4" type="com.whalegoods.entity.ReportTotalCountAndAmount">
    <result column="sales_count" jdbcType="INTEGER" property="salesCount" />
    <result column="sales_amount" jdbcType="DECIMAL" property="salesAmount" />
   </resultMap>
  
  <sql id="Base_Column_List">
  a.id,
  b.device_id_jp,
  b.device_id_supp,
  b.short_name,
  c.goods_name,
  c.goods_code,
  a.order_day,
  a.sales_count,
  a.sales_amount,
  a.costs_amount,
  ROUND(a.sales_amount/a.sales_count,2) averageSalePrice,
  ROUND(a.costs_amount/a.sales_count,2) averageCostPrice,
  a.sales_amount-a.costs_amount profit,
  CONCAT(ROUND(ROUND((a.sales_amount-a.costs_amount)/a.costs_amount,2)*100,0),'%') costProfit,
CONCAT(ROUND(ROUND((a.sales_amount-a.costs_amount)/a.sales_amount,2)*100,0),'%')  salesProfit 
  </sql>
  
     <!-- ERP后台销售统计>明细查询列表 -->
    <select id="selectListByObjCdt" parameterType="com.whalegoods.entity.ReportBase" resultMap="BaseResultMap2">
    SELECT  <include refid="Base_Column_List" />  FROM  report_base a 
  INNER JOIN device b  ON a.device_id = b.id 
  INNER JOIN goods_sku c ON c.goods_code = a.goods_code 
   <where>
     <if test="deviceId !=null and deviceId !=''"> AND b.id=#{deviceId}</if>
     <if test="goodsCode !=null and goodsCode !=''"> AND c.goods_code=#{goodsCode}</if>
     <if test="startOrderDay !=null and startOrderDay !=''"> AND a.order_day&gt;=#{startOrderDay}</if>
     <if test="endOrderDay !=null and endOrderDay !=''"> AND a.order_day&lt;=#{endOrderDay}</if>
    </where>
   ORDER BY a.order_day DESC,b.short_name,a.sales_count DESC 
  </select>
  
        <resultMap id="BaseResultMap5" type="com.whalegoods.entity.ReportBaseExcel">
    <result column="sales_count" jdbcType="INTEGER" property="salesCount" />
    <result column="sales_amount" jdbcType="DECIMAL" property="salesAmount" />
    <result column="costs_amount" jdbcType="DECIMAL" property="costsAmount" />
    <result column="profit" jdbcType="DECIMAL" property="profit" />
    <result column="costProfit" jdbcType="INTEGER" property="costProfit" />
    <result column="salesProfit" jdbcType="INTEGER" property="salesProfit" />
    <result column="averageSalePrice" jdbcType="DECIMAL" property="averageSalePrice" />
    <result column="averageCostPrice" jdbcType="DECIMAL" property="averageCostPrice" />
    <result column="device_id_supp" jdbcType="VARCHAR" property="deviceCodeSup" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
  </resultMap>
  
       <!-- ERP后台销售统计>导出报表EXCEL -->
    <select id="selectReportListByObjCdt" parameterType="com.whalegoods.entity.ReportBase" resultMap="BaseResultMap5">
    SELECT  
  b.device_id_supp,
  b.short_name,
  c.goods_name,
  c.goods_code,
  SUM(a.sales_count) sales_count,
  SUM(a.sales_amount) sales_amount,
  SUM(a.costs_amount) costs_amount,
  ROUND(a.sales_amount/a.sales_count,2) averageSalePrice,
  ROUND(a.costs_amount/a.sales_count,2) averageCostPrice,
  (SUM(a.sales_amount)-SUM(a.costs_amount)) profit,
  CONCAT(ROUND(ROUND((SUM(a.sales_amount)-SUM(a.costs_amount))/SUM(a.costs_amount),2)*100,0),'%') costProfit,
 CONCAT(ROUND(ROUND((SUM(a.sales_amount)-SUM(a.costs_amount))/SUM(a.sales_amount),2)*100,0),'%') salesProfit 
 FROM report_base a
  INNER JOIN device b  ON a.device_id = b.id 
  INNER JOIN goods_sku c ON c.goods_code = a.goods_code 
   <where>
     <if test="deviceId !=null and deviceId !=''"> AND b.id=#{deviceId}</if>
     <if test="startOrderDay !=null and startOrderDay !=''"> AND a.order_day&gt;=#{startOrderDay}</if>
     <if test="endOrderDay !=null and endOrderDay !=''"> AND a.order_day&lt;=#{endOrderDay}</if>
    </where>
    GROUP BY a.goods_code,a.device_id
   ORDER BY b.short_name,sales_count DESC 
  </select>

<!-- 按照设备ID分组查询基本统计报表 -->
    <select id="selectListGroupByDevice"  parameterType="java.util.Map" resultMap="BaseResultMap">
SELECT 
  REPLACE(UUID(), '-', '') id,
  SUM(a.sales_count) sales_count,
  SUM(a.sales_amount) sales_amount,
  a.order_day,
  a.device_id
FROM report_base a 
    WHERE a.order_day=#{orderDay}
    GROUP BY a.device_id
  </select>
  
  <!-- 按照商品编号分组查询基本统计报表 -->
    <select id="selectListGroupByGoods"  parameterType="java.util.Map" resultMap="BaseResultMap3">
SELECT 
  REPLACE(UUID(), '-', '') id,
  SUM(a.sales_count) sales_count,
  SUM(a.sales_amount) sales_amount,
  a.order_day,
  a.goods_code
FROM report_base a 
    WHERE a.order_day=#{orderDay}
    GROUP BY a.goods_code
  </select>

  <insert id="insertBatch" parameterType="java.util.List">
   INSERT INTO report_base (
    id,
    device_id, 
    goods_code, 
    sales_count, 
    costs_amount,
    sales_amount, 
    order_day,
    create_by,
    create_date,
    update_by,
    update_date)
    VALUES
    <foreach collection="list" item="item" index="index"  separator=",">
  (
   #{item.id},
      #{item.deviceId},
      #{item.goodsCode},
      #{item.salesCount},
      #{item.costsAmount},
      #{item.salesAmount},
     #{item.orderDay},
     #{item.createBy},
     now(),
     #{item.updateBy},
     now()
  )
    </foreach>
 </insert>
 
   <!-- 根据条件查询总销量和总销售额 -->
    <select id="selectTotalSalesCountAndAmount"  parameterType="com.whalegoods.entity.ReportBase" resultMap="BaseResultMap4">
SELECT 
  SUM(a.sales_count) sales_count,
  SUM(a.sales_amount) sales_amount 
FROM
  report_base a INNER JOIN device b ON b.id=a.device_id
  INNER JOIN goods_sku c ON c.goods_code=a.goods_code
     <where>
     <if test="deviceId !=null and deviceId !=''"> AND b.id=#{deviceId}</if>
     <if test="goodsCode !=null and goodsCode !=''"> AND c.goods_code=#{goodsCode}</if>
     <if test="startOrderDay !=null and startOrderDay !=''"> AND a.order_day&gt;=#{startOrderDay}</if>
     <if test="endOrderDay !=null and endOrderDay !=''"> AND a.order_day&lt;=#{endOrderDay}</if>
    </where>
  </select>
</mapper>