<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whalegoods.mapper.SysJobRoleMapper">
  <resultMap id="BaseResultMap" type="com.whalegoods.entity.SysJobRole">
    <id column="job_id" jdbcType="VARCHAR" property="jobId" />
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id,job_id,role_id
  </sql>

  <delete id="deleteById" parameterType="com.whalegoods.entity.SysJobRole">
    DELETE FROM sys_job_role  WHERE id = #{id}
  </delete>

  <insert id="insert" parameterType="com.whalegoods.entity.SysJobRole">
    INSERT INTO sys_job_role (
    id,
    job_id, 
    role_id,
    create_by,
    create_date,
    update_by,
    update_date
    )
    VALUES (
    #{id},
    #{jobId},
    #{roleId},
    #{createBy},
    now(),
    #{updateBy},
    now()
    )
  </insert>

  <select id="selectListByObjCdt" parameterType="com.whalegoods.entity.SysJobRole" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />  FROM sys_job_role
    <where>
      <if test="jobId!=null and jobId!=''">and job_id =#{jobId}</if>
      <if test="roleId!=null and roleId!=''">and role_id =#{roleId}</if>
    </where>
  </select>
  
  <select id="selectCountByObjCdt" parameterType="com.whalegoods.entity.SysJobRole" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM sys_job_role
    <where>
      <if test="jobId!=null and jobId!=''">and job_id =#{jobId}</if>
      <if test="roleId!=null and roleId!=''">and role_id =#{roleId}</if>
    </where>
  </select>
</mapper>