<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whalegoods.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.whalegoods.entity.SysMenu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="name" />
    <result column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="menu_type" jdbcType="TINYINT" property="menuType" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <resultMap id="UserMenuResultMap" type="com.whalegoods.entity.SysMenu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="name" />
    <result column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="menu_type" jdbcType="TINYINT" property="menuType" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <collection property="roleList" ofType="com.whalegoods.entity.SysRole">
      <id column="rid" jdbcType="VARCHAR" property="id" />
      <result column="role_name" jdbcType="VARCHAR" property="roleName" />
      <result column="remark" jdbcType="VARCHAR" property="remark" />
    </collection>
  </resultMap>
  
  <sql id="Base_Column_List">
    id,menu_name as name,p_id,menu_url,order_num,icon,create_by,create_date,update_by,update_date,permission,menu_type 
  </sql>
  
  <!-- 根据系统用户ID获取分配的菜单列表 -->
  <select id="getUserMenu" parameterType="java.lang.String" resultMap="UserMenuResultMap">
    SELECT 
  m.*,
  r.id AS rid,
  r.role_name AS role_name,
  r.remark AS remark 
  FROM sys_menu m 
  INNER JOIN sys_role_menu rm 
    ON m.id = rm.menu_id 
  INNER JOIN sys_role r 
    ON rm.role_id = r.id 
  INNER JOIN sys_role_user ru 
    ON r.id = ru.role_id 
  INNER JOIN sys_user u 
    ON u.id = ru.user_id
WHERE ru.user_id = #{id} 
ORDER BY m.order_num ASC  
  </select>
  
  <!-- 根据ID查找一条记录 -->
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM sys_menu  WHERE id = #{_parameter}
  </select>
  
  <!-- 根据ID删除一条记录 -->
  <delete id="deleteById" parameterType="java.lang.String">
    DELETE FROM sys_menu WHERE id = #{_parameter}
  </delete>
  
  <!-- 插入一条记录 -->
  <insert id="insert" parameterType="com.whalegoods.entity.SysMenu">
    INSERT INTO sys_menu (
    id, 
    menu_name, 
    p_id, 
    menu_url, 
    order_num, 
    menu_type,
    icon, 
    permission,
    create_by, 
    create_date,
    update_by, 
    update_date )
    VALUES (
    #{id}, 
    #{name}, 
    #{pId}, 
    #{menuUrl},
    #{orderNum},
    #{menuType},
    #{icon}, 
    #{permission},
    #{createBy}, 
    now(),
    #{updateBy}, 
    now()
      )
  </insert>
  
  <update id="updateByObjCdt" parameterType="com.whalegoods.entity.SysMenu">
    UPDATE sys_menu
    <set>
      <if test="name != null and name !='' ">
        name = #{menu_name},
      </if>
      <if test="pId != null and pId !='' ">
        p_id = #{pId},
      </if>
      <if test="menuUrl != null and menuUrl !='' ">
        menu_url = #{menuUrl},
      </if>
      <if test="orderNum != null and orderNum !='' ">
        order_num = #{orderNum},
      </if>
      <if test="permission != null and permission !='' ">
        permission = #{permission},
      </if>
      <if test="menuType != null and menuType !='' ">
        menu_type = #{menuType},
      </if>
      <if test="icon != null and icon !='' ">
        icon = #{icon},
      </if>
      <if test="updateBy != null and updateBy !='' ">
        update_by = #{updateBy},
      </if>
      update_date = now(),
    </set>
    WHERE id = #{id}
  </update>

  <select id="getMenuNotSuper" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM sys_menu WHERE p_id is null and  menu_type=0 ORDER BY order_num ASC
  </select>
  
  <select id="getMenuChildren" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM sys_menu WHERE p_id=#{_parameter} and  menu_type=0 ORDER BY order_num ASC
  </select>

  <select id="getMenuChildrenAll" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM sys_menu WHERE p_id=#{_parameter} ORDER BY order_num ASC
  </select>
  
</mapper>