<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whalegoods.mapper.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.whalegoods.entity.SysRoleMenu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
    <id column="menu_id" jdbcType="VARCHAR" property="menuId" />
  </resultMap>

  <sql id="Base_Column_List">
    id,role_id,menu_id
  </sql>
  
  <delete id="deleteById" parameterType="com.whalegoods.entity.SysRoleMenu">
    DELETE FROM sys_role_menu  WHERE id = #{id}
  </delete>

  <insert id="insert" parameterType="com.whalegoods.entity.SysRoleMenu">
    INSERT INTO sys_role_menu (
    id,
    role_id, 
    menu_id)
    VALUES (
    #{id},
    #{roleId}, 
    #{menuId}
    )
  </insert>
 
  <select id="selectListByObjCdt" parameterType="com.whalegoods.entity.SysRoleMenu" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM sys_role_menu
    <where>
      <if test="menuId!=null and menuId!=''">and menu_id =#{menuId}</if>
      <if test="roleId!=null and roleId!=''">and role_id =#{roleId}</if>
    </where>
  </select>

  <select id="selectCountByObjCdt" parameterType="com.whalegoods.entity.SysRoleMenu" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM sys_role_menu
    <where>
      <if test="menuId!=null and menuId!=''">and menu_id =#{menuId}</if>
      <if test="roleId!=null and roleId!=''">and role_id =#{roleId}</if>
    </where>
  </select>
</mapper>