<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whalegoods.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.whalegoods.entity.SysUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="head_pic_url" jdbcType="VARCHAR" property="headPicUrl" />
    <result column="account_status" jdbcType="VARCHAR" property="accountStatus" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />    
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id,
    username,
    password,
    head_pic_url,
    account_status,
    create_by,
    create_date,
    update_by,
    update_date,
    remark
  </sql>
  
  <!-- 登录 -->
  <select id="login" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List"/>
    FROM sys_user a
    <where>
     a.account_status=1
		<if test="_parameter !=null and _parameter !=''">
			AND a.username=#{_parameter}
		</if>
	</where>
  </select>

  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" />  FROM sys_user WHERE id = #{_parameter}
  </select>

  <delete id="deleteById" parameterType="java.lang.String">
    DELETE FROM sys_user  WHERE id = #{_parameter}
  </delete>

  <insert id="insert" parameterType="com.whalegoods.entity.SysUser">
    INSERT INTO sys_user (
    id,
    username, 
    password, 
    head_pic_url, 
    create_by,
    create_date,
    update_by,
    update_date)
    VALUES (
    #{id},
    #{userName}, 
    #{password}, 
    #{headPicUrl}, 
    #{createBy}, 
    now(),
    #{updateBy},
    now()
    )
  </insert>

  <update id="updateByObjCdt" parameterType="com.whalegoods.entity.SysUser">
    UPDATE sys_user
    <set>
      <if test="username != null and username!='' ">
        username = #{username},
      </if>
      <if test="password != null and password !='' ">
        password = #{password},
      </if>
      <if test="headPicUrl != null and headPicUrl != '' ">
        head_pic_url = #{headPicUrl},
      </if>
      <if test="accountStatus != null and accountStatus != '' ">
        account_status = #{accountStatus},
      </if>
      <if test="updateBy != null and updateBy != '' ">
        update_by = #{updateBy},
      </if>
      update_date = now()
    </set>
    WHERE id = #{id}
  </update>
  
  <select id="selectListByObjCdt" parameterType="com.whalegoods.entity.SysUser" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM sys_user
    <where>
     <if test="username!=null and username!=''"> AND username LIKE "%" #{username} "%"</if>
    </where>
  </select>
  
  <select id="selectCount" resultType="java.lang.Integer">
    SELECT COUNT(a.id) FROM sys_user a
  </select>

  <select id="checkUser" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM sys_user WHERE username=#{_parameter}
  </select>
  
  <update id="rePass" parameterType="com.whalegoods.entity.SysUser">
    UPDATE sys_user set password=#{password} WHERE id = #{_parameter}
  </update>
</mapper>